<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <h2 th:text="${title}"></h2>
    <span th:text="${message}"></span>
</body>
</html>