<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <p class="greetings" th:text="${greetings}"></p>


    <p class="message" th:text="${message}"></p>
    <p>
        <a th:href="${link1}" th:text="${link2}" ></a>
    </p>

    <div style="margin-top: 30px">
        <span style="font-weight: bold">www.resthalal.com</span>
    </div>
</body>
</html>