<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <p class="greetings" th:text="${greetings}"></p>

    <table class="info-table" style="width:100%">
        <th:block th:each="row: ${tableRows}">
            <tr>
                <td style="font-weight: bold; width: 100px" class="row-label" th:text="${row.label}">...</td>
                <td class="row-value" th:text="${row.value}">...</td>
            </tr>
        </th:block>
    </table>

    <th:block th:each="message : ${messages}">
        <p class="message" th:text="${message}"></p>
    </th:block>

    <div style="margin-top: 30px">
        <span style="font-weight: bold">www.resthalal.com</span>
    </div>
</body>
</html>